<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
	<!-- mybatis.MemberDTO = memberDTO(별칭정의) -->
	<typeAliases>
		<typeAlias type="user.UserDTO" alias="userDTO"/>
		<typeAlias type="team.TeamDTO" alias="teamDTO"/>
		<typeAlias type="notice.NoticeDTO" alias="noticedto"/> 
	</typeAliases>
</configuration>
