.contentBox {
	text-align: center;
}

.h1 {
	text-align: center;
	margin-bottom: 20px;
}

.table {
	width: 60%;
	margin: auto;
	border-collapse: collapse;
}

.table td {
	padding: 16px;
	text-align: left;
}

.table td:first-child {
	font-weight: 700;
	font-size: 20px;
}

.contentBox button {
	text-align: center;
	width: 45%;
    max-width: 180px;
    line-height: 40px;
    height: 40px;
    background: #555;
    border: 1px solid #333;
    color: #fff;
}

.updateBtn {
	margin-top: 20px;
}

.table input {
	width: 50%;
	height: 28px;
	padding: 0 8px;
	margin-right: 8px;
}

.table input:focus {
	background: #feca00;
}