@charset "UTF-8";

/* 용병 검색 form */

.soldier_boxes {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
}


input#dateSelector {
	padding-left: 7px;
	width: 116px;
}

#searchSoldierForm > input,select {
	border: 1px solid black;
	border-radius: 10px;
	height: 27px;
	font-family: "비트로 프라이드 OTF";
	cursor: pointer;
	margin-right: 4px;
}

.searchSoldierBtn {
	width: 70px;
	background-color: #feca00;
	font-weight: bold;
}

.registerSoldierBtn {
	border: none;
	background-color: white;
	font-size: 19px;
	font-weight: bold;
}

.registerSoldierBtn:hover {
	font-size: 21px;
}


/* 용병 리스트 */

.swiper {
  width: 100%;
  height: 520px;
  margin-top: 20px;
}

.swiper-slide {
	padding: 50px 70px;
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.swiper-slide .modalLink {
    margin-right: 2%;
}

div.swiper-button-prev, div.swiper-button-next {
	color: #feca00;
}

div.swiper-button-prev:hover, div.swiper-button-next:hover {
	color: #e1b500;
}

div.swiper-pagination {
	display: block;
}

span.swiper-pagination-bullet-active {
	background-color: #feca00;
}


