@charset "UTF-8";

/* 용병 검색 form */

.soldier_boxes {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
}


input#dateSelector {
	padding-left: 7px;
	width: 116px;
}

#searchSoldierForm > input,select {
	border: 1px solid black;
	border-radius: 10px;
	height: 27px;
	font-family: "비트로 프라이드 OTF";
	cursor: pointer;
	margin-right: 4px;
}

.searchSoldierBtn {
	width: 70px;
	background-color: #feca00;
	font-weight: bold;
}

/* 용병 등록, 용병 로그 버튼 */

.registerSoldierBtn, .soldierLogBtn {
	border: none;
	background-color: white;
	font-size: 19px;
	font-weight: bold;
	margin-left: 10px;
}

.registerSoldierBtn:hover, .soldierLogBtn:hover {
	font-size: 21px;
}


/* 용병 리스트 */

.teamPage > div {
	padding-bottom : 5%; 
}

@media screen and (max-width: 768px) {
	.teamPage > div {
		padding-bottom : 30px; 
	}
}

.teamPage h1, .teamPage h2 {
	padding-bottom: 3%;
}

@media screen and (max-width: 768px) {
	.teamPage h1, .teamPage h2 {
		padding-bottom: 20px;
	}
	.teamPage h1 {
		font-size: 28px;
	}
	.teamPage h2 {
		font-size: 24px;
	}
}

.myTeamName {
	display: flex;
	justify-content: space-between;	
}

#updateTeamBtn {
	align-self: baseline;
    margin-top: 5px;
    padding: 12px 20px;
    min-width: max-content;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;	
    transition: all 0.3s;
}

#updateTeamBtn:hover {
	transform: scale(1.05);
}

#passwordInputTeam input {
	margin: 0 5px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 0;
	padding: 6px 8px;
	font-size: 15px;
    border: 1px solid gray;	
    border-radius: 3px;
    outline: none;
}

#passwordInputTeam input:focus {
	background: var(--point-color);
}

#passwordInputTeam button {
	background: #555;
    border: none;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
	cursor: pointer;
}

#passwordInputTeam button:hover {
	opacity: 0.8;
}

.cardBox {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.card {
	position: relative;
	width: 24%;
	margin-right: 1%;
    margin-bottom: 4%;
    padding: 3% 2% 3% 2%;
    border: 3px solid var(--point-color);
   	background: #eaeaea;
   	border-radius: 5px;
   	box-shadow: 5px 6px 18px -15px rgb(0 0 0);
}
/*.card:nth-child(4n) {
	margin-right: 0;
}*/
@media screen and (max-width: 1000px) {
  .card {
    width: 30.3%;
    margin-right: 3%;
  }
  .card:nth-child(3n) {
  	margin-right: 0;
  }
 
}
@media screen and (max-width: 768px) {
  .card {
    width: 49%;
    margin-right: 2%;
  }
  .card:nth-child(2n) {
  	margin-right: 0;
  } 
}

.card .modalLink {
	width: 100%;
}

.acceptRejectBtn, .possibleDate {
    width: 100%;
    display: flex;
    justify-content: space-around;
	margin-top: 20%;
	font-size: min(5vw, 1rem);
}

.acceptRejectBtn button:hover {
	opacity: 0.8;
}

#true, #false {
    width: 45%;
    padding: 5% 0;
	min-width: max-content; 
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #444;
	cursor: pointer;
}

.possibleDate span {
	font-weight: bold;
	margin-bottom: 14px;
}

.addSoldier_btn {
	width: 80%;
	height: 50px;
	background-color: #feca00;
	font: 14px "비트로 코어 OTF";
	border: 0px;
	border-radius: 10px;
	cursor:pointer;
}

.addSoldier_btn:hover {
	font-size: 15px;
}

.addSoldierBtn_box {
	text-align: center;
}

.modalCon {
    padding: 10px 30px;
}

.modalCon li {
	display: flex;
	margin-bottom: 16px;
}

.modalCon li span:first-child {
	width: 100px;
	padding-right: 16px;
	min-width: max-content;
	font-weight: 700;
	font-size: 18px;
}
	
/*======= 768 =======*/	
@media (max-width: 768px) {
	
	.modalCon {
		max-width: 200px;
	    padding: 10px 0;
	}

	.modalCon li span:first-child {
		min-width: 80px;
	}
	
}
