.cardBox {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

.card {
	width: 150px;
	height: 200px;
	margin-right: 16px;
	margin-bottom: 16px;
}

#true, #false {
    background: #555;
    border: 1px solid #333;
    color: #fff;
	padding: 4px 6px;
	cursor: pointer;
}