@charset "UTF-8";

.teammatch_registration_title {
	font: 40px "비트로 코어 OTF";
	text-align: center;
	color: #00912e;
	margin-bottom: 40px;
	margin-top: 30px;
}

.teammatch_registration_notice {
	margin-top: 50px;
	margin-bottom: 60px;
}

.teammatch_registration_notice > h2 {
	color: #00912e;
}

.teammatch_registration {
	margin: auto;
	width: 530px;
}

.teammatch_registration_elements {
	display: inline-block;
	vertical-align: top;
	width:215px;
	height:450px;
	margin-left: 30px;
}

.teammatch_registratioin_element {
	margin-bottom: 30px;
}

.teammatch_registratioin_element > div {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

input[type=text] {
	width: 200px;
	height: 40px;
	font: 15px "비트로 프라이드 OTF";
	outline: 0;
	border-width: 0 0 2px;
	border-color: #E3E9D5;
}


select, textarea {
	width: 200px;
	height: 40px;
	font-family: "비트로 프라이드 OTF";
	font-size: 15px;
	border: 2px solid #E3E9D5;
	border-radius: 7px;
}

#comment_cnt {
	font-size: 12px;
}

.teammatch_registration_btn {
	margin: auto;
	width: 300px;
	height: 100px;
}

input[type=submit] {
	width: 300px;
	height:60px;
	font: 22px "비트로 코어 OTF";
	border: 2px solid #00912e;
	border-radius: 10px;
	background-color: #00912e;
	color: white;
	margin-top: 20px;
}

input[type=submit]:hover {
	border: 2px solid #217517;
	background-color: #217517;
	font-size: 24px;
	width: 305px;
	height: 65px;
	cursor:pointer;
}

textarea {
	height: 70px;
}

textarea:focus, select:focus {
	outline: none;
}