@charset "UTF-8";

.teammatch_registration_title {
	font: 40px "비트로 코어 OTF";
	text-align: center;
	color: #00912e;
	margin-bottom: 40px;
	margin-top: 30px;
}

.teammatch_registration_notice {
	margin-top: 90px;
	margin-bottom: 50px;
}

.teammatch_registration_notice > h2 {
	color: #00912e;
}

.teammatch_registration {
	margin: auto;
	width: 530px;
}

.teammatch_registration_elements {
	display: inline-block;
	vertical-align: top;
	width:215px;
	height:450px;
	margin-left: 30px;
}

.teammatch_registratioin_element {
	margin-bottom: 30px;
}

.teammatch_registratioin_element > div {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

input[type=text] {
	width: 200px;
	height: 40px;
	font: 15px "비트로 프라이드 OTF";
	outline: 0;
	border-width: 0 0 2px;
	border-color: #E3E9D5;
}


select, textarea {
	width: 200px;
	height: 40px;
	font-family: "비트로 프라이드 OTF";
	font-size: 15px;
	border: 2px solid #E3E9D5;
	border-radius: 7px;
}

#comment_cnt {
	font-size: 12px;
}

.teammatch_registration_btn {
	margin: auto;
	width: 300px;
	height: 100px;
}

input[type=submit] {
	width: 300px;
	height:60px;
	font: 22px "비트로 코어 OTF";
	border: 2px solid #00912e;
	border-radius: 10px;
	background-color: #00912e;
	color: white;
	margin-top: 20px;
}

input[type=submit]:hover {
	border: 2px solid #217517;
	background-color: #217517;
	font-size: 24px;
	width: 305px;
	height: 65px;
	cursor:pointer;
}

textarea {
	height: 70px;
}

textarea:focus, select:focus {
	outline: none;
}

.selectBtn_box, .selectedBtn_box {
	text-align: center;
	margin-top: 30px;
}

.selectBtn, .selectedBtn {
	width: 80%;
	height: 50px;
	background-color: #feca00;
	font: 15px "비트로 코어 OTF";
	border: 0px;
	border-radius: 10px;
	cursor:pointer;
}

.selectBtn:hover, .selectedBtn:hover {
	font-size: 16px;
}

.soldierPossibleDate {
	text-align: center;
}
.soldierPossibleDate span {
	font-weight: bold;
	margin-top: 20px;
}

.none_soldier {
	border: 1px solid #feca00;
	border-radius: 10px;
	width: 290px;
	height: 50px;
	display: flex;
	justify-content: center;
	padding-top: 13px;
}

.none_soldier > img {
	width : 20px;
	height: 25px;
	margin-right: 10px;
}

.none_soldier > span {
	padding-top: 2px;
}


/*======= 560 =======*/	
@media (max-width: 560px) {
	.teammatch_registration_title {
		font-size: 30px;
	}
	
	.teammatch_registration_notice {
	    margin-top: 50px;
	}
	
	.teammatch_registration {
		max-width: 530px;
		width: 100%;
	}
	
	.teammatch_registration_elements {
	    width: 100%;
	    height: auto;
	    margin-left: 0;
	}
	
	.none_soldier {
		max-width: 290px;
    	width: 100%;
	}
	
	input[type=text] {
	    width: 100%;
	}
	
	textarea {
	    width: 100%;
	}
	
	.teammatch_registration_btn {
		max-width: 300px;
   		width: 100%;
	}
	
	input[type=submit] {
		max-width: 300px;
   		width: 100%;
   		font-size: 18px;
	}
}
