@charset "utf-8";

:root {
  --main-color: #00912e;
  --point-color : #feca00;
  --gray : rgb(221,221,221);
}

.teamContainer input {
	font-family: "비트로 프라이드 OTF";
}

.teamContainer input, button {
	border-radius: 3px;
	outline: none;
}

.teamContainer button:hover {
	opacity: 0.8;
}

.h1 {
    font-family: "비트로 프라이드 OTF";
	text-align: center;
	margin: 30px 0 20px;
}

.btnBox {
	text-align: center;
	padding-top: 30px; 
	margin-bottom: 40px;
}

.button {
	text-align: center;
	width: 45%;
    max-width: 180px;
    background: #444;
    color: #fff;
    margin-right: 8px;
    border: none;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

#searchBox, .waitBox, .joinRequestBox {
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
	padding: 20px 0;	
}

#searchBox {
	padding-bottom: 60px;
}

.waitBox, .joinRequestBox {
	max-width: 100%;
}

#searchBox table {
	width: 100%;
}

#searchBox tr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
}

#searchBox td {
	margin-bottom: 10px;
}

input[type=text] {
	font-size: 16px;
	width: 75%;
	height: 28px;
	padding: 0 8px;
	margin-bottom: 6px;
}

#searchTeamName {
    width: 100%;
    margin-bottom: 0;
	padding: 20px 8px;
	font-size: 15px;
    border: 1px solid gray;	
    border-radius: 3px;
    outline: none;
}

input[type=button] {
    background: #555;
    border: 1px solid #333;
    color: #fff;
	padding: 4px 6px;
	cursor: pointer;
}

#checkBtn {
 	width: 100%;
    margin-bottom: 0;
	padding: 15px 8px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: var(--main-color);
    border: none;	
    border-radius: 3px;
    outline: none;
}

.teamBtn {
    width: 43%;
    perspective: 1000px;
}

.register {
    display: flex;
    flex-wrap: wrap;
}

.registerBox {
    width: 23.5%;
    max-width: 160px;
    perspective: 1000px;
    margin-right: 2%;
}
@media screen and (max-width: 768px) {
  .registerBox {
    width: 48%;
    margin-right: 2%;
  }
}


.BtnCon, .registerBtnCon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 230px;
	font-size: 16px;
	font-weight: bold;
    border-radius: 20px;
    border: 4px solid var(--main-color);
    background: #fff;
    box-shadow: 5px 5px 10px #cecece;
    transform-style: preserve-3d;
} 

.BtnCon:hover, .registerBtnCon:hover {
	transform: rotateY(360deg);
    transition: all 0.8s;
}

#waiting {
	cursor: pointer;
}

#teamBtn, .registerBtnCon > span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transform: translateZ(60px) scale(0.94);
}

.teamBtn img, .registerBox img {
	width: 80%;
	transform: rotateY(180deg) translateZ(1px) scale(0.94);
}

.registerBtnCon > span {
	text-align: center;
    line-height: 222px;	
}

.registerBtnBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.registerBtnBox input:hover {
	opacity: 0.8;
}

#true, #false {
	margin: 20px 0;
    width: 45%;
    padding: 4% 0;
	min-width: max-content; 
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #444;
	cursor: pointer;
}

#duplicate {
	background: #555;
    border: none;
    color: #fff;
    padding: 12px 8px;
    border-radius: 3px;
	cursor: pointer;
}

input[type=text]:focus {
	background: var(--point-color);
}

form .teamName {
	width: 100%;
	max-width: 600px;
	margin-bottom: 30px;
	line-height: 50px;
}

#teamName {
    width: 50%;
    margin: 0 10px;
    padding: 20px 8px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
}

.inputBoxCon {
	margin: 30px 0;
	padding: 30px 0;
	width: 100%;
	overflow-x: scroll;	
}

.inputBoxCon::-webkit-scrollbar {
    height: 12px;
}

.inputBoxCon::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
    border: 4px solid transparent;
}

.inputBoxCon::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--gray);
}

.inputBox {
	min-width: 1200px;
	min-height: 800px;
	position: relative;
    background-repeat: no-repeat;
}

.inputBox button {
	background: #555;
    border: 1px solid #333;
    color: #fff;
	padding: 4px 6px;
	cursor: pointer;
}

.inputBox > div {
	position: absolute;
	width: 200px;
	height: 100px;
}

.inputBox > div > input[type=button] {
	margin-left: 6px;
}

.inputBox > div > p:last-child {
	background: #f2f2f2;
	border-radius: 3px;
}

.inputBox > div > p > button {
	margin-right: 3px;
}

.inputBox > div > div > button {
	margin-right: 6px;
}

.positionName {
    padding: 2px 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    background: navajowhite;
    border-radius: 5px;
}

.firstBase {
	right: 20%;
	bottom: 30%;
}

.secondBase {
	left: 43%;
	bottom: 45%;
}

.thirdBase {
	left: 20%;
	bottom: 30%;
}

.catcher {
	left: 43%;
	bottom: 5%;
}

.pitcher {
	left: 43%;
	bottom: 30%;
}

.leftFielder {
	left: 10%;
	top: 25%;
}

.rightFielder {
	right: 10%;
	top: 25%;
}

.centerFielder {
	left: 43%;
	top: 10%;
}

.shortStop {
	left: 25%;
	bottom: 48%;
}